body{
    
    
   
    
}


    
        #img-food{
	    display: flex;
	    margin:auto;
        height: 40px;
        background-color: white;
        
        
    }
   
    img{
        width: 400px;
        
        display: flex;
       flex-direction: column;
       margin: auto;
        
    }
    
    
    header{
        display: flex;
        margin: auto;
        background-color: white;
        height: 80px;
        width:400px;
    }

#second-main{
    width: 400px;
    background-color: rgb(246,246,246);
    
   
    position: relative;
    margin: auto;
    
    
    margin-top: -60px;
    border-radius: 35px 35px 0px 0px;
   
    padding-bottom: 20px;
}

h1{
    margin-left: 20px;
}

.far.fa-heart{
    margin-left: 150px;
}

h2{
    margin-left: 20px;
    
}

h3{
    font-size: 1.1em;
    margin-left: 20px;
    margin-top: -65px;
}
 p{
     margin-left: 20px;
     
 }



.menu{
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
	margin-top: 10px;
    cursor: pointer;
	height: 70px;
	width: 380px;
	outline: none;
    text-decoration: none;
    overflow: hidden;
    animation: effect 5s;
    
    
}

    

.btn  {
    width: 80px;
    height: 70px;
    margin-left: 380px;
    
    background-color: aquamarine;
    color: white;
    border-radius: 0px 20px 20px 0px;
    opacity: 1;
    
}





.menu:hover .btn{
   
    margin-left: 300px;
    transition-duration: 2s;

   
   


} 

.fas.fa-check-circle{
    margin-left: 20px;
    margin-top: 20px;
    
   
    
    
}
.menu:hover .fas.fa-check-circle{
transform: rotate(-360deg);
transition: transform 1000ms ease-in-out;
}


@keyframes effect{ 
    0%{
       opacity: 0;
       margin-top: 20px;
    }

    50%{
        opacity: 0,5;
        
    }
    100%{
        opacity: 1;
        margin-top: 10px;
       
    }
}

ol{
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer{
	background-color: rgb(53, 53, 53);
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: auto;
    color: rgb(246,246,246); 
   
	
	
	
}

#img-food-footer{
	
	
	width: 110px;
	margin-left: 30px;
	margin-top: 30px;
	filter: invert(100%);
	border-radius: 0px;

}

li{
    display: flex;
    
}




#logo-ustensils{
	display: flex;
	margin-left: -0px;
	padding-left: 0px;
	height: 30px;
	width: 50px;

}

#hands-helping{
	margin-left: -0px;
	display: flex;
	padding-left: 0px;
	height: 30px;
	width: 50px;

}
em{
	
    margin-top: 0px;
    margin-left: -20px;
}

@media screen and (min-width: 1400px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        
    }
    img{
        margin: center;
        width: 100%;
        height: 350px;
    }
    header{
        margin: center;
        width:900px;
    }
    h1{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        text-align: center;
        
        
        height: 60px;
        
        margin-left:center;
    }
    h2{
        margin-left: 0px;
    }
    #main-content{
        display: flex;
        flex-direction: column;
    }
    #second-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        
       
    }
    #content-section{
        display: flex;
    }
    
    section{
        display: flex;
        flex-direction: column;
        
       
        margin: auto;
        
        
        
        padding-right: 80px;
    }
    footer{
		display: flex;
		flex-direction: row;
        width: 100%;
        height: 100px;
        text-align: center;
        margin: auto;
    }
    #logo-ustensils{
       
    }

	ol{
		display: flex;
        flex-direction: row;
        margin-right: 500px;
        margin-top: auto;
    }
    li , li{
        margin-left: 10px;
        
    }
	#img-food-footer{
        margin-top: 50px;
        margin: auto;
        width: 200px;
        height: 50px;
        
    }
    
    
    
}
   
