$main-width: 350px;
$ombre-box: 2px 2px 5px     rgb(227,227,227);



body{
	font-family: verdana;
	text-align: center;
	
}
#main{
	border: solid black;
	width: $main-width;
	margin: auto;
}


#img-food{
	display: flex;
	margin:auto;
	height: 40px;
	background-color: white;
	
	

}



header{
	display: flex;
	margin: auto;
    background-color: white;
	height: 80px;
	width:$main-width;
}

section{
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: rgb(246,246,246);
	width: $main-width;
	height: 320px;
	text-align: center;
	
}

h1{
	display: flex;
	flex-direction: column;
	font-size: 1.1em;
	
	margin-top: 0px;
	
	background-color: rgb(234,234,234 );
	width: $main-width;
	height: 50px;
	line-height: 50px;
	
	
}
#map-marker{
	margin-top: -58px;
	margin-left: -170px;
}


 h4{
	 font-size: 1.4em;
	 text-align: left;
	 margin-left: 25px;
 }

 h5+p{
	 font-size: 1.0em;
 }

 h3{
	
	background-image: linear-gradient( #FF79DA, #9356DC, ) ;
	border-radius: 50px;
	color: white;
	font-size: 0.9em;
	text-align: center;
	padding: 10px 9px 10px 9px;
    margin: auto;
	font-weight: bold;
	display: block;
    width: 250px;
    height: 40px;
    line-height: 40px;
}

nav{
	background-color: white;
	width: $main-width;
	display: flex;
	flex-direction: column;
	margin: auto;
	
}



ul{
	list-style: none;
	padding: 20px 10px 20px 10px;
	

	
}



.oval{
	display: flex;
	background-color: rgb(246,246,246);
	border-radius: 25px;
	box-shadow: $ombre-box;
	padding: 10px 10px 10px 10px ;
	margin-top: 10px;
	
	
	height: 50px;
	width: 310px;
	outline: none;
	text-decoration: none;
	
	
	
	color: black;
}



i{

	
	
	
	width: 30px;
	padding: 10px 30px 10px 20px;
}



span{
	
	text-align: left;
	padding: 15px 0px 20px 0px;
	font-size: 0.8em;
	font-weight: bold;
}

li {
	display: flex;
	
	
	
  }

  .rond{
	  width: 20px;
	  height: 20px;
	  border-radius: 50%;
	  background-color: #9356DC;
	  font-size: 0.9em;
	  color:white;
	  margin-top: 15px;
	  margin-left: -15px;
  }


#content-restaurant{
	display: flex;
	flex-direction: column;
	width: $main-width;
	margin: auto;
	background-color: rgb(246,246,246);
}

.the-full-palette{
	border-radius: 20px ;
	background-color: rgb(255, 255, 255);
	width: 300px;
	height: 260px;
	margin: auto;
	margin-bottom: 40px;
	box-shadow: $ombre-box;
}

img{
	border-radius: 20px 20px 0px 0px;
	width: 300px;
}

h5{
	
	width: 200px;
	margin-top: 10px;
	
	text-align: left;
	margin-left: 5px;
}

h5+ p{
	
	text-align: left;
	font-size: 0.9em;
	
	width: 180px;
	margin-top: -20px;
	margin-left: 5px;
}

.heart{
	margin-top: -50px;
	margin-left: 230px;
	position: relative;
	
}

.heart:hover .fas.fa-heart{
	visibility: visible;

}



.fas.fa-heart{
	position: absolute;
	visibility: hidden;
	color:  #FF79DA;
	
	
	
}



footer{
	background-color: rgb(53, 53, 53);
	display: flex;
	flex-direction: column;
	width: $main-width;
	margin: auto;
	color: rgb(246,246,246); 
	
	
	
}

#img-food-footer{
	
	
	width: 110px;
	margin-left: 30px;
	margin-top: 30px;
	filter: invert(100%);
	border-radius: 0px;

}




#logo-ustensils{
	display: flex;
	margin-left: -20px;
	padding-left: 0px;
	height: 30px;
	width: 50px;

}

#hands-helping{
	margin-left: -20px;
	display: flex;
	padding-left: 0px;
	height: 30px;
	width: 50px;

}

em{
	
	margin-top: 7px;
	
}

@media screen and (min-width: 1480px){

	body{
		display: flex;
		flex-direction: column;
		background-color: white;
		
	}
	#main{
		border: none;
		width: 100%;
	}

	#img-food{
		background-color: white;
		text-align: center;
		
	}

	h1{
		margin-left: 769px;
	}

	nav{
		width: 100%;
		display: flex;
		flex-direction: row;
		
		
		
	}
	li{
		margin-left: 200px;
		display: flex;
		
	}

	h4{
		position: absolute;
		font-size: 1.8em;
		
		margin-left: 89px;
		margin-top: 0px;
		height: 30px;
	}
	#content-restaurant  h4{
		
		margin-top: -50px;
		margin-left: 89px;
	}
	ul{
		
		display: flex;
		flex-direction: row;
		margin-left: 50px;
	}
	 

	section{
		display: flex;
		width: 100%;
	}

	#content-restaurant{
		display: flex;
		flex-direction: row;
		
		width: 100%;
		padding-top: 50px;
	}

	
	footer{
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	ol{
		display: flex;
		flex-direction: row;
	}
	#img-food-footer{
		margin-top: 0px;
		width: 200px;
	}
	
	
	


}


	
	
	



