body {
  font-family: verdana;
  text-align: center;
  background-color: yellowgreen;
}

#img-food {
  display: flex;
  margin: auto;
  height: 40px;
  background-color: white;
}

header {
  display: flex;
  margin: auto;
  background-color: white;
  height: 80px;
  width: 350px;
}

section {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f6f6f6;
  width: 350px;
  height: 320px;
  text-align: center;
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  margin-top: 0px;
  background-color: #eaeaea;
  width: 350px;
  height: 50px;
  line-height: 50px;
}

#map-marker {
  margin-top: -58px;
  margin-left: -170px;
}

h2 {
  font-size: 1.4em;
}

h5 + p {
  font-size: 1em;
}

h3 {
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  color: white;
  font-size: 0.9em;
  text-align: center;
  padding: 10px 9px 10px 9px;
  margin: auto;
  font-weight: bold;
  display: block;
  width: 250px;
  height: 40px;
  line-height: 40px;
}

nav {
  background-color: white;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

ul {
  list-style: none;
  padding: 20px 10px 20px 10px;
}

a {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #e3e3e3;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  height: 50px;
  width: 310px;
  outline: none;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

i {
  width: 30px;
  padding: 10px 30px 10px 20px;
}

span {
  text-align: left;
  padding: 15px 0px 20px 0px;
  font-size: 0.8em;
  font-weight: bold;
}

li {
  display: flex;
}

.rond {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: violet;
  font-size: 0.9em;
  color: grey;
  margin-top: 15px;
  margin-left: -15px;
}

#content-restaurant {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
  background-color: #f6f6f6;
}

.the-full-palette {
  border-radius: 20px;
  background-color: white;
  width: 300px;
  height: 260px;
  margin: auto;
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px #e3e3e3;
}

img {
  border-radius: 20px 20px 0px 0px;
  width: 300px;
}

h5 {
  width: 200px;
  margin-top: 10px;
  text-align: left;
  margin-left: 5px;
}

h5 + p {
  text-align: left;
  font-size: 0.9em;
  width: 180px;
  margin-top: -20px;
  margin-left: 5px;
}

.heart {
  margin-top: -50px;
  margin-left: 230px;
  position: relative;
}

.fas.fa-heart {
  position: absolute;
  display: none;
}

.far:hover .fas.fa-heart {
  color: limegreen;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
  color: #f6f6f6;
}

#img-food-footer {
  width: 110px;
  margin-left: 30px;
  margin-top: 30px;
  filter: invert(100%);
  border-radius: 0px;
}

#logo-ustensils {
  display: flex;
  margin-left: -20px;
  padding-left: 0px;
  height: 30px;
  width: 50px;
}

#hands-helping {
  margin-left: -20px;
  display: flex;
  padding-left: 0px;
  height: 30px;
  width: 50px;
}

em {
  margin-top: 7px;
}

@media screen and (min-width: 1480px) {
  body {
    display: flex;
    flex-direction: column;
    background-color: blue;
  }

  #img-food {
    background-color: white;
    text-align: center;
  }

  nav {
    width: 800px;
    display: block;
  }

  section {
    display: flex;
    width: 1000px;
  }

  #content-restaurant {
    background-color: chartreuse;
    width: 900px;
  }
}

/*# sourceMappingURL=style.css.map */
